.sider 
    .inner-menu 
        ul  
            li 
                a(href=`${locals.prefixAdmin}/dashboard`) Tong quan
            li 
                a(href=`${locals.prefixAdmin}/products`) San pham 
